*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.principal{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.quadradocima{
    justify-content: center;
    gap: 10rem;
}

.esquerda{
    background-color: #2D2A54;
    height: 927px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30rem;
    padding-top: 5rem;
    text-align: center;
    
    
}


.quadradoMaior{
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 927px;
    width: 65%;
    background-color: #D7D8F0;
}

#nome{
    font-size: 70px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#temp{
    font-size: 60px;
    margin-top: -4rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#desc{
        color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

#icon{
    width: 300px;
    margin-top: -2rem;
}

.Phora{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#horarios{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 5rem;
    height: 309px;

    
}

.t{
    height: 150px;
}

.interior_horarios{
    color: white;
}

#horarios section{
    display: flex;
    flex-direction: column;
    background-color:  #373374;
    width: 9rem;
    height: 13rem;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 10px 10px 10px #a8a8b1;
    border-radius: 15%;
    
}

.direita_meio{
        height: 309px;

}

.direita_baixo{
    height: 309px;

}

#horarios p{
    word-break:normal;
}

.div_superior{
    justify-content: center;
    justify-items: center;
    display: flex;
    padding-top: 2rem;
    gap: 1rem;
    margin: 2rem;
    text-align: center;
    position: relative;
}

#abc{
    height: 3rem;
    width: 60rem;
    margin-left: 2rem;
    
}

.textinho{
    margin-left: 2rem;
    color: black;
    text-align: center;
    font-size: larger;
    border: 3px white solid;
}


.pesquisa{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.dentro_botao{
}

#sugestoes {
    position: absolute;
    top: 85px;
    right: 3.9rem;
    width: 100%;
    max-width: 30rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: #333;

}

.sugestao-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.sugestao-item:hover {
    background-color: #e9e9e9;
}